@import 'bootstrap/dist/css/bootstrap';

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #F9C74F;
    margin: 0;
}


nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vh;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

nav a:nth-of-type(1){
    background-color: #FFD6A5;
}
nav a:nth-of-type(2){
    background-color: #FDFFB6;
}
nav a:nth-of-type(3){
    background-color: #CAFFBF;
}
nav a:nth-of-type(4){
    background-color: #9BF6FF;
}

nav a:hover {
    background-color: #BDB2FF;
}

section {
    margin: 200px 200px 0px;
    height: 500px;
    width: 500px;
}
#grass {
    background-color: #90BE6D;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    transform: rotateX(70deg) rotateZ(25deg);
    border-bottom: 20px solid #6b705c;
    border-right: 13px solid #6b705c;
    border-radius: 8px;
}


