<div class="container">
    <div class="row row-all-view justify-content-center align-items-center">
        <div class="col-10">
            <div class="card">
            <div class="row card-header ml-0 mr-0">
                <div class="col">
                <h2 class="header-2 text-center">Mieszkanie numer <%= @appartment.number_of_appart %></h2>
                </div>
                <div class="col">
                <h2 class="header-2 text-center">Blok <%= @appartment.block_name %></h2>
                </div>
            </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item header-3-no-hover">Mieszkańcy:
                            <% @appartment.user.each do |appart_user| %>
                                <ul><%= link_to "#{appart_user.name} #{appart_user.surname}", user_path(appart_user.id),class: "list-appartmen" %></ul>
                            <% end %>
                        </li>
                        <li class="list-group-item header-3-no-hover">Opłaty</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
